body {
    background-color: rgb(180, 238, 214);
    color: #fff;
}

.container {
    padding: 100px 100px 50vh;
    height: 100%;
}

.block{
    border: 5px;
    border-style:solid;
    border-color: rgb(0, 0, 0);
}

.block:hover{
    border-color: rgb(183, 157, 231);
    transition:3s 2s;
}

.block-2{
    border: 5px solid black;
    transition:all 3s 2s;
}

.block-2:hover{
    border: 5px solid #b79de7;
}